-
  var meta = {
    title: 'HelpMobile',
    url: 'https://site.ru',
    image: '/assets/images/cover.jpg',
    description: 'Качественный и недорогой ремонт телефонов, планшетов и ноутбуков.',
  }

  var nav = [
    {
      name: 'Преимущества',
      id: 'props',
      active: 'header__nav-link--active'
    },
    {
      name: 'Как это работает',
      id: 'works'
    },
    {
      name: 'Услуги',
      id: 'services'
    },
    {
      name: 'Отзывы',
      id: 'reviews'
    },
    {
      name: 'FAQ',
      id: 'faq'
    }
  ]

  var servicesTabs = [
    'Iphone', 'Ipad', 'Macbook', 'Ipod', 'Apple Watch'
  ]