.action
  .action__container.container

    .action__info
      h1.action__title Ремонтируйте свое усройство в
        .action__title-mark= 'HelpMobile'

      .action__pros
        .action__pros-item
          .action__pros-icon.action__pros-icon--1
          .action__pros-content
            .action__pros-title Оплата при получении
            .action__pros-text Вы оплачиваете нашу работу только при получении<br> отремантированного устройства на руки

        .action__pros-item
          .action__pros-icon.action__pros-icon--2
          .action__pros-content
            .action__pros-title Конфиденциальнось ваших данных
            .action__pros-text Мы  не требуем паролей от вашего устройства когда это не требуется

        .action__pros-item
          .action__pros-icon.action__pros-icon--3
          .action__pros-content
            .action__pros-title Гарантия до 1-го года
            .action__pros-text Предоставляем годовую гарантию на все работы<br> подтвержденную документально

    .action__form
      order-form(title="Заявка на бесплатную консультацию!" text="Укажите ваши данные и причину поломки и наш менеджер свяжется с вами в ближайшее время." textarea="true")

