.agreement
  .container
    .agreement__title Пользовательское соглашение
    .agreement__desc Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую данный Cайт может получить о Пользователе во время использования Cайта, программ и продуктов Сайта.

    .agreement__sub-title 1. Определение терминов

    .agreement__text 1.1. В настоящей Политике конфиденциальности используются следующие термины:
    .agreement__text 1.1.1. «Администрация Сайта (далее — Администрация Сайта)» — уполномоченные сотрудники на управления сайтом, действующие от имени владельцев Сайта, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
    .agreement__text 1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных).
    .agreement__text 1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
    .agreement__text 1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания
    .agreement__text 1.1.5. «Пользователь Сайта (далее Пользователь)» — лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.
    .agreement__text 1.1.6. “Cookies” — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего Сайта.
    .agreement__text 1.1.7. “IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.

    .agreement__sub-title 2. Общие положения

    .agreement__text 2.1. Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
    .agreement__text 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Сайта.
    .agreement__text 2.3. Настоящая Политика конфиденциальности применяется только к данному Сайту. Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.
    .agreement__text 2.4. Администрация Сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.

    .agreement__sub-title 3. Предмет политики конфиденциальности

    .agreement__text 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации Сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации Сайта при оформлении заказа, для получения обратного звонка, для получения консультации, экспресс-аудита сайта, расчета стоимости, получения дополнительной информации для приобретения Товара или Услуги Сайта, а также в случае возникновения вопросов о работе сайта и/или специалистов, представленных на сайте.
    .agreement__text 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационных форм на данном Сайте и могут включать в себя следующую информацию:
    .agreement__text 3.2.1. Имя Пользователя;
    .agreement__text 3.2.2. Контактный телефон Пользователя;
    .agreement__text 3.2.3. Aдрес электронной почты (email);
    .agreement__text 3.3. Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы («пиксель»):
    .agreement__text - IP адрес;
    .agreement__text - Информация из cookies;
    .agreement__text - Информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
    .agreement__text - Время доступа;
    .agreement__text - Адрес страницы, на которой расположен рекламный блок;
    .agreement__text - Реферер (адрес предыдущей страницы).
    .agreement__text 3.3.1. Отключение cookies может повлечь невозможность доступа к частям Cайта, требующим авторизации.
    .agreement__text 3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем
    .agreement__text 3.4. Любая иная персональная информация не оговоренная выше (используемые браузеры и операционные системы и т. д. ) подлежит надежному хранению и нераспространению и собирается для персонализации учета посещений, изучения поведения посетителей на сайте и регистрации их действий.

    .agreement__sub-title 4. Цели сбора персональной информации пользователя

    .agreement__text 4.1. Персональные данные Пользователя Администрация Сайта может использовать в целях:
    .agreement__text 4.1.1. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
    .agreement__text 4.1.2. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработки запросов и заявок от Пользователя.
    .agreement__text 4.1.3 Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
    .agreement__text 4.1.4 Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.
    .agreement__text 4.1.5 Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Сайта или от имени партнеров Сайта.
    .agreement__text 4.1.6 Осуществления рекламной деятельности с согласия Пользователя.

    .agreement__sub-title 5. Способы и сроки обработки персональной информации

    .agreement__text 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
    .agreement__text 5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации
    .agreement__text 5.3. Администрация Сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц. В то же время Администрация Сайта не может гарантировать абсолютного устранения риска несанкционированного злоупотребления персональной информацией. Убедительно просим Вас самым внимательным образом подойти к хранению паролей к учетным записям и не сообщать их кому-либо еще (в случае, если речь идет о продуктах, содержащих пароли доступа). Немедленно свяжитесь с нами, если станет известно о каком-либо нарушении информационной безопасности (например, несанкционированном использовании Вашего пароля).

    .agreement__sub-title 6. Обязательства сторон

    .agreement__text 6.1. Пользователь обязан:
    .agreement__text 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
    .agreement__text 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
    .agreement__text 6.2. Администрация сайта обязана:
    .agreement__text 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
    .agreement__text 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя.
    .agreement__text 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
    .agreement__text 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя, или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.

    .agreement__sub-title 7. Ответственность сторон

    .agreement__text 7.1. Администрация Сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
    .agreement__text 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация Сайта не несёт ответственность, если данная конфиденциальная информация:
    .agreement__text 7.2.1. Стала публичным достоянием до её утраты или разглашения.
    .agreement__text 7.2.2. Была получена от третьей стороны до момента её получения Администрацией Сайта.
    .agreement__text 7.2.3. Была разглашена с согласия Пользователя.

    .agreement__sub-title 8. Разрешение споров

    .agreement__text 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Администрацией Сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
    .agreement__text 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
    .agreement__text 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
    .agreement__text 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией Сайта применяется действующее законодательство Российской Федерации.

    .agreement__sub-title 9. Дополнительные условия

    .agreement__text 9.1. Администрация Сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
    .agreement__text 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на данном Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
    .agreement__text 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по адресу электронной почты 
      .agreement__text-mark email@gmail.com
    .agreement__text 9.4. Действующая Политика конфиденциальности размещена на странице по адресу: 
      .agreement__text-mark www.site.ru