footer.footer
  .footer__container.container

    .footer__copy
      .footer__copy-text 2018-2019 ©HelpMobile. All rights reserved
      a.footer__copy-link(href="/agreement.html") Политика конфиденциальности

    //- .footer__social
    //-   .social
    //-     a.social__item.social__item--twitter(href="#!")
    //-     a.social__item.social__item--facebook(href="#!")
    //-     a.social__item.social__item--instagram(href="#!")