.hero
  .hero__container.container

    .hero__info
      h1.hero__title Качественный ремонт
        .hero__title-mark телефонов
        | ,
        .hero__title-mark планшетов
        |  и
        .hero__title-mark ноутбуков
        |  в Днепре

      .hero__pros
        .hero__pros-item
          .hero__pros-icon.hero__pros-icon--1
          .hero__pros-text Качественный ремонт вашего устройства

        .hero__pros-item
          .hero__pros-icon.hero__pros-icon--2
          .hero__pros-text Гарантия до 1 года

        .hero__pros-item
          .hero__pros-icon.hero__pros-icon--3
          .hero__pros-text Выезд специалиста на дом

    .hero__form
      order-form(title="Заявка на бесплатную консультацию!" text="Укажите ваши данные и причину поломки и наш менеджер свяжется с вами в ближайшее время." textarea="true")


