#props.props
  .container
    h2.props__title.block-title Преимущества<br> дистанционного ремонта

    .props__list
      .props__item
        .props__item-icon.props__item-icon--1
        .props__item-content
          .props__item-title Экономие времени
          .props__item-text Вы сэкономите кучу времени из-за того, что Вам не нужно будет ездить 2 раза в мастерскую

      .props__item
        .props__item-icon.props__item-icon--2
        .props__item-content
          .props__item-title Экономие денег
          .props__item-text Вы экономите свои деньги за счет того, что Вам не нужно никуда ездить по мастерским

      .props__item
        .props__item-icon.props__item-icon--3
        .props__item-content
          .props__item-title Доступность в любом месте
          .props__item-text Вы можете отремонтировать свой iPhonу, даже если в вашем населенном пункте нет мастерской
