.why
  .container
    h2.why__title.block-title Почему именно мы?

    .why__list
      .why__list-col
        .why__item
          .why__item-icon.why__item-icon--1
          .why__item-content
            .why__item-title Профессиональные мастера
            .why__item-text Ремонт выполняют мастера высокого уровня со стажем работы от 3-х лет

        .why__item
          .why__item-icon.why__item-icon--2
          .why__item-content
            .why__item-title Приемлимые цены
            .why__item-text Мы работаем без посредников, что позволяет нам снизить стоимость на все наши услуги

        .why__item
          .why__item-icon.why__item-icon--3
          .why__item-content
            .why__item-title Выезд специалиста на дом
            .why__item-text Ремонт вашего устройства не выходя из дома

      .why__list-col
        .why__item
          .why__item-icon.why__item-icon--4
          .why__item-content
            .why__item-title Гарантия до 1 года
            .why__item-text Мы подтверждаем все выполненые нами работы документально

        .why__item
          .why__item-icon.why__item-icon--5
          .why__item-content
            .why__item-title Оригинальные запчасти
            .why__item-text Мы используем только оригинальные запчасти компании Apple для ремонта всех iPhone

        .why__item
          .why__item-icon.why__item-icon--6
          .why__item-content
            .why__item-title Быстрый и качественный ремонт
            .why__item-text Наши мастера гарантируют выполнить всю работу по вашему устройству в самые кратчайшие сроки
