#works.works
  .works__img

  .container
    .works__container
      h2.works__title.block-title Как это работает?

      .works__list
        .works__item
          .works__item-icon 01
          .works__item-text Ваше устройство сломалось

        .works__item
          .works__item-icon 02
          .works__item-text Вы хотите его поченить сэкономив личное время и деньги

        .works__item
          .works__item-icon 03
          .works__item-text Вы оставляете заявку на ремонт у нас на сайте

        .works__item
          .works__item-icon 04
          .works__item-text Наш менеджер связывается с вами для уточнений всех деталей по ремонту вашего устройства

        .works__item
          .works__item-icon 05
          .works__item-text Относите свое устройство в наше отделение или наш мастер выезжает к вам

        .works__item
          .works__item-icon 06
          .works__item-text После окончание ремонта мы связываемся с вами и вы забираете уже рабочее устройство

      .works__btn
        .btn(@click="activeModal = 'short-form'") Оставить заявку на ремонт