input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff!important;
}
a {
  color: #21BDB6;
}
h2 {
  color: #333636;
  font-size: 40px;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color: #333636;
  font-size: 32px;
}
#nav-wrapper {
  height: 50px;
  z-index: 999;
  position: relative;
  clear: both;
}
header .container .row {
  margin: 7px 0!important;
}
header .info p {
  font-size: 21px;
  margin: 10px 0;
  color: #8A6C6B;
}
header .info a {
  font-size: 22px;
}
header .info i, #footer i {
  position: relative;
  top: 4px;
  right: 10px;
}
header nav {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
header nav {
  height: auto;
  line-height: 50px;
  background-color: #F7F7F7;
  letter-spacing: 1px;
}
nav ul li:hover {
  background: 0;
}
nav ul li  {
  float: none;
  display: inline-block;
  margin: 0 10px;
  /* height: 50px; */
}
header nav a {
  color: #757575;
  height: 48px;
  line-height: 48px;
  border-top: solid 2px transparent;
  padding: 0;
  transition: ease, .2s;
}
header nav a:hover {
  border-top: solid 2px #8A6C6B;
}
header nav a.active {
  border-top: solid 2px #8A6C6B!important;
}
{}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
.logo {
  height: 100px;
}
.logo a {
  display: block;
  height: 100%;
}
.logo a img {
  display: inline-block;
  height: 84%;
  margin: 6px 0 0 0;
}
#slider {
  position: relative;
  height: 500px;
  background: url(../img/slide1.jpg) center;
  background-size: cover;
  transition: all 1s ease;
}
#slider .desc {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.42);
  position: relative;
  top: 114px;
  text-align: center;
  padding: 50px 0;
}
#slider .desc p:nth-of-type(1) {
  font-size: 48px;
  line-height: 54px;
  padding: 0 13px 0 0;
}
#slider .desc p:nth-of-type(2) {
  padding: 0 157px 0 0;
}
#slider .desc p:nth-of-type(2), #slider .desc p:nth-of-type(3) {
  font-size: 45px;
  line-height: 54px;
}
#slider .desc p span {
  font-size: 122px;
  font-weight: 700;
  line-height: 54px;
  display: inline-block;
  margin: -26px 0 0 56px;
}
#slider .desc p:nth-of-type(4) {
  font-size: 23px;
  font-family: 'Open sans', 'Roboto';
  font-weight: 300;
  line-height: 31px;
}
#slider .desc p:nth-of-type(5) {
  font-size: 35px;
  line-height: 31px;
  padding: 12px 0 0 0;
}
#about-us h2 {
  padding: 30px 0 0 0
}
#catalog {
  background: #F7F7F7;
  margin: 0;
  padding-bottom: 40px;
} 
#catalog .card .card-image {
  position: relative;
  cursor: pointer;
}
#catalog .card .preview {
  position: absolute;
  width: 30%;
  top: 0;
  right: -30%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.36);
  padding: 0 3%;
  transition: 1s ease;
}
#catalog .card .preview .img {
  cursor: pointer;
}
#catalog .card .preview img {
  width: 100%;
}
#catalog .card .preview .sketch {
  position: absolute;
  bottom: 0;
}
#catalog .card .preview .sketch img {
  width: 100%;
}
#catalog .card:hover .preview {
  right: 0;
}
#catalog .card-content:nth-of-type(1) {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
#catalog .card-content:nth-of-type(3) {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
#catalog .card .card-action {
  padding: 0;
}
#catalog a {
  width: 100%;
  border-radius: 0;
}
#catalog .card .card-image img {
  display: block;
}
#info img {
  width: 100%;
  border-radius: 2px;
}
#advantages {
  background: #66D9D4;
  margin: 0;
  padding-bottom: 20px;
}
#advantages h2 {
  color: #fff;
}
#advantages p {
  color: #fff;
}
#advantages .col {
  margin-bottom: 30px;
}
#advantages .title {
  font-size: 24px;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.1);
  line-height: 24px;
  margin: 10px 0;
}
#advantages .desc {
  font-size: 14px;
  font-family: 'Open sans', 'Roboto', sans-serif;
}
#advantages .col .ico {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
#advantages .col:nth-of-type(1) .ico {
  background: url(../../media/img/adv-ico1.png) 0 0 no-repeat;
}
#advantages .col:nth-of-type(2) .ico {
  background: url(../../media/img/adv-ico2.png) 0 0 no-repeat;
}
#advantages .col:nth-of-type(3) .ico {
  background: url(../../media/img/adv-ico3.png) 0 0 no-repeat;
}
#advantages .col:nth-of-type(4) .ico {
  background: url(../../media/img/adv-ico4.png) 0 0 no-repeat;
}
#advantages .col:nth-of-type(5) .ico {
  background: url(../../media/img/adv-ico5.png) 0 0 no-repeat;
}
#advantages .col:nth-of-type(6) .ico {
  background: url(../../media/img/adv-ico6.png) 0 0 no-repeat;
}
#info {
  padding-bottom: 30px;
}
#certificate {
  background: url(../img/certificate-bg.png);
  padding-bottom: 20px;
  margin-bottom: 0;
}
#certificate h2 {
  color: #fff;
}
#certificate .card {
  cursor: pointer;
  overflow: inherit;
}
#certificate .card {
  cursor: pointer;
}
#comments {
  background: #F7F7F7;
  padding-bottom: 30px;
}
#comments .row {
  margin: 0; 
}
#comments .col {
  position: relative;
}
#comments .card-panel p, #comments .card-panel span {
  color: #333636;
  font-style: italic;
  font-size: 14px;
  font-family: 'Open sans', 'Roboto';
}
#comments .card-panel p {
  font-style: normal;
  padding: 20px 0 35px 110px;

  font-size: 16px;
}
#comments .avatar {
  width: 88px;
  height: 88px;
  float: left;
}
#comments .row:nth-of-type(1) .col:nth-of-type(1) .avatar {
  background: url(../../media/img/avatar1.png);
}
#comments .row:nth-of-type(1) .col:nth-of-type(2) .avatar {
  background: url(../../media/img/avatar2.png);
}
#comments .row:nth-of-type(2) .col:nth-of-type(1) .avatar {
  background: url(../../media/img/avatar3.png);
}
#comments .row:nth-of-type(2) .col:nth-of-type(2) .avatar {
  background: url(../../media/img/avatar4.png);
}
#map {
  min-height: 450px;
}
#footer {
  background: #F7F7F7;
  padding: 10px 0;
  font-size: 21px;
  color: #5A5A5A;
  margin: 0;
}
#footer .logo {
  height: 100px;
  padding: 10px 0;
}
#footer .container:first-of-type p {
  padding:  10px 0;
}
#footer img {
  height: 100%
}
#footer .copy {
  background: #f0f0f0;
}
.copy p {
  color: #CCCCCC;
  font-size: 13px;
  line-height: 17px;
}

@media only screen and (max-width: 601px) {
  .scenter {
    text-align: center;
  }
  .scenter > * {
    float: none !important;
    display: block !important;
    margin: 10px auto !important;
  }
  .scenters {
    float: none !important;
    display: block !important;
    margin: 10px auto !important;
  }
  .valign-wrapper {
    display: block !important;
  }
  #slider .desc {
    top: 15px;
  }
  #slider .desc p:nth-of-type(1) {
    font-size: 29px;
    line-height: 54px;
    text-align: center;
  }
  #slider .desc p:nth-of-type(2), #slider .desc p:nth-of-type(3) {
    font-size: 44px;
    line-height: 41px;
    text-align: center;
    padding: 0;
  }
  #slider .desc p span {
    font-size: 96px;
    font-weight: 700;
    line-height: 87px;
    display: block;
    margin: 0;
  }
}

.button-collapse i {
  font-size: 40px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 10px;
  background-color: white;
}

#modal1 {
  max-width: 500px;
  max-height: 80%;
}
#modal1 .row {
  margin-bottom: 0;
}
#modal1 .row button.btn {
  float: none;
  margin-bottom: 18px;
  top: 4%;
}

