* {
	padding: 0;
	margin: 0;
}

a { text-decoration: none;}

ul {
	list-style: none;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #587f8b;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.wrapper:after {
	display: block;
	content: '';
	clear: both;
}

nav.top {
	height: 40px;
	background: #cfeef7;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

nav.top ul {
	display: table;
	margin: 0 auto;
}

nav.top ul li {
	display: table-cell;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}

nav.top ul li a {
	display: block;
	padding: 11px 10px 11px 10px;
	cursor: pointer;
	font-family: "Arial";
	color: #2a5966;

}

nav.top ul li:hover, nav.top ul li.active {
	background-color: #b5e0ed;
}

header {
	height: 180px;
	padding: 40px 0 0 0;
}

header div.logo {
	padding: 25px 0 0 0;
}

header div.logo a {
	text-decoration: none;
}

header div.logo img {
	float: left;
	padding: 0 20px 0 0;
}

header div.logo section {
	padding: 8px 0 0 0;
}

header div.logo section h1 {
	font-size: 31px;
	font-weight: 300;
	color: #63a5bb;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
}

header div.logo section h2 {
	font-size: 13px;
	font-family: Arial;
	color: #63a5bb;
}

header address {
	position: absolute;
	left: 425px;
	top: 43px;
	color: #63a5bb;
	font-style: normal;
	letter-spacing: 1px;
}

header address ul li {
	padding: 0 0 1px 42px;
	margin: 0 0 13px 0; 
}

header address ul li:nth-child(1) {
	background: url(../img/mts.png) no-repeat 0 1px;
}

header address ul li:nth-child(2) {
	background: url(../img/kstar.png) no-repeat 0 1px;
}

header address ul li span {
	font-size: 16px;
}

header button {
	position: absolute;
	top: 40px;
	right: 4px;
	border-radius: 5px;
	background-color: rgb(106, 199, 163);
	box-shadow: 0px 3px 0px #5aac8c;
	width: 212px;
	height: 56px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: 0px 2px 0px #5aac8c;
}

.block-1 {
	margin-bottom: 45px;
}

.block-1 section {
	margin: 0 auto;
	width: 982px;
}

.block-1 section h1, .block-1 section h2 {
	font-size: 36px;
	color: #63a5bb;
	text-shadow: 0px 2px 0px #e6f9ff;
	border-radius: 5px;
	background-color: #cfeef7;
	padding: 14px 0px 14px 0px;
	text-align: center;
}

.block-1 section h1 {
	width: 982px;
}

.block-1 section h2 {
	width: 272px;
	margin: -36px auto 0;
}

.block-1 div ul li {
	float: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	margin: 30px 48px 30px 48px;
}

.block-1 div ul li:nth-child(1) {
	padding: 10px 0px 10px 90px;
	background: url(../img/icon-1-1.png) no-repeat 0 24px;
}

.block-1 div ul li:nth-child(2) {
	padding: 10px 0px 10px 66px;
	background: url(../img/icon-1-2.png) no-repeat 0 19px;
}

.block-1 div ul li:nth-child(3) {
	padding: 10px 0px 10px 60px;
	background: url(../img/icon-1-3.png) no-repeat 0 19px;
}

.block-1 div ul:after {
	display: block;
	content: '';
	clear: both;
}

.block-1 div:nth-child(3) {
	margin: 0px auto 20px;
	width: 283px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	color: #d3cfb5;
}

.block-1 div span:nth-child(1) {
	margin: 0px 155px 0 20px;
}

.block-1 div.sofa {
	position: relative;
	height: 364px;
}

.block-1 div.sofa {
	margin: 0 auto;
	width: 804px;
}

.block-1 div.sofa div:nth-child(2) {
	margin: -368px 0 0 0;
	width: 50%;
	overflow: hidden;
}

.block-1 div.sofa div:nth-child(3) {
	position: absolute;
	top: 38%;
	left: 50%;
	width: 93px;
	margin: -32px 0 0 -47px;
	cursor: pointer;
}


.block-2 {
	background: #f6f6f6;
	margin: 0 0 60px 0;
}

.block-2 h1 {
	font-size: 32px;
	color: rgb(122, 122, 122);
	text-align: center;
	padding: 20px 0 30px 0;
}

.block-2 .list-col2 {
	width: 50%;
	float: left;
}

.block-2 .list-col2 h1 {
	font-size: 22px;
	line-height: 19px;
	padding: 0 0 0 99px;
	padding: 0 0 15px 0;
}

.block-2 .left h1 {
	color: #807022;
}

.block-2 .right h1 {
	color: #4a7940;
}

.block-2 .list-col2 div.row {
	display: table;
	padding: 0 25px 20px 0;
}

.block-2 .list-col2 div.row div.img {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.block-2 .list-col2 div.row p {
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}

.block-2 .left div.row p {
	font-size: 14px;
	font-family: "Open Sans";
	color: rgb(128, 112, 34);
}

.block-2 .right div.row p {
	color: #4a7940
}

.block-3 {
	margin-bottom: 60px;
}

.block-3 h1 {
	font-size: 32px;
	text-align: center;
	color: #7a7a7a;
	padding: 0 0 30px 0;
}

.block-3 h2 {
	font-size: 22px;
	color: #7a7a7a;
	padding: 0 0 15px 20px
}

.block-3 .wrapper div {
	float: left;
	margin: 0 20px 0 0;
}

.block-3 .wrapper div:last-child {
	margin: 0;
}

.block-3 .wrapper div:after {
	display: block;
	content: '';
	clear: both;
}

.block-3 .wrapper div ul {
	width: 280px;
	padding: 20px 20px;
}

.block-3 .wrapper div ul.plus {
	color: #5c8553;
	background: #9ce28c url(../img/block-3-plus.png) no-repeat right bottom;
	border-radius: 6px 6px 0 0;
}

.block-3 .wrapper div:nth-child(2) ul.plus {
	border-radius: 6px;
}

.block-3 .wrapper div ul li:last-child {
	margin: 0;
}

.block-3 ul.minus {
	color: #8b7d3d;
	background: #ead46d url(../img/block-3-minus.png) no-repeat right bottom;
	border-radius: 0 0 6px 6px;
	background-size: 36%;
}

.block-3 .wrapper div ul li {
	margin: 0 0 20px 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.block-4 {
	margin-bottom: 60px;
}

.block-4 h1 {
	font-size: 32px;
	text-align: center;
	padding: 0 0 30px 0;
}

.block-4 h2  {
	font-size: 22px;
	text-align: center;
	padding: 0 0 45px 0;
}

.block-4 section {
	width: 50%;
	float: left;
	padding: 0px 0px 50px 0;
}

.block-4 section h1 {
	padding: 0 0 0 225px;
	text-align: left;
	font-size: 22px;
}

.block-4 section p {
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 0 0 225px;
	line-height: 26px;
}

.block-4 div.fix:nth-child(4) section:nth-child(2) :nth-child(2) {
	padding: 24px 0 0px 225px;
}

.block-4 div.fix:nth-child(4) section:nth-child(2) :nth-child(3) {
	font-size: 26px;
}

.block-4 div.fix:nth-child(4) section:nth-child(2) :nth-child(4) {
	font-size: 23px;
}

.block-4 section ul {
	padding: 0 0 0 225px;
}

.block-4 section ul li {
	padding: 0 0 0 20px;
	background: url(../img/dot-4.png) no-repeat 6px 7px;
}

.block-4 section div.img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #cfeef7;
	float: left;
	margin: 0 0 0 65px;
}

.block-4 div.fix:nth-child(3) section:nth-child(1) div.img img {
	position: relative;
	left: 10px;
	bottom: 14px;
}

.block-4 div.fix:nth-child(3) section:nth-child(2) div.img img {
	position: relative;
	left: -1px;
	bottom: 0px;
}

.block-4 div.fix:nth-child(4) section:nth-child(1) div.img img {
	position: relative;
	left: 7px;
	bottom: -5px;
}

.block-4 div.fix:nth-child(4) section:nth-child(2) div.img img {
	position: relative;
	left: 23px;
	bottom: 17px;
}

.block-4 div.fix:after {
	display: block;
	content: '';
	clear: both;
}

.block-6 {
	margin-bottom: 45px;
	background: #f6f6f6;
	padding: 20px 0 20px 0;
}

.block-6 h1 {
	font-size: 32px;
	text-align: center;
	padding: 0 0 30px 0;
}

.block-6 p {
	text-align: center;
	padding: 0 0 20px 0;
}

.block-7 {
	margin: 0 0 60px 0;
}

.block-7 h1 {
	font-size: 32px;
	text-align: center;
	padding: 0px 0 30px 0;
}

.block-7 .list-col2 {
	width: 50%;
	float: left;
}

.block-7 .list-col2 div.row {
	display: table;
	padding: 0 25px 20px 0;
}

.block-7 .list-col2 div.row div.img {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.block-7 .list-col2 div.row p {
	padding: 0 0 0 20px;
	font-size: 22px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Roboto Condensed', sans-serif;
}

.block-7 .list-col2 div.row p span {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

div.shadow {
	display: none;
	position: fixed;
	left:0;top: 0;right:0;bottom: 0;
	background: rgba(0, 0, 0, 0.41);
	z-index: 3000;
}

div.shadow form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -105px 0 0 -125px;
	width: 250px;
	height: 205px;
	background: #fff;
	border-radius: 7px;
}

div.shadow form input{
	width: 210px;
	outline: 0;
	margin: 5px 20px;
	padding: 10px 0px;
	border: 0;
	border-bottom: 2px #EEE solid;
}

div.shadow form input[type=submit] {
	margin-top: 20px;
	border-radius: 5px;
	padding: 17px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	background: #EEE;
	border: 1px #E0E0E0 solid;
	box-shadow: 0 0 3px #CCCCCC, inset 0 0 5px #FAFAFA;
}

div.shadow form input:nth-child(1) {
	margin-top: 20px;
}

div.shadow form div.cancel {
	position: absolute;
	left: 228px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: url(../img/cancel.png) no-repeat;
	background-size: 115%;
	cursor: pointer;
}