* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.wrapper:after {
	display: block;
	content: '';
	clear: both;
}

.block-2 {
	background: #f6f6f6;
}

.block-2 h1 {
  font-size: 32px;
  color: rgb(122, 122, 122);
  text-align: center;
  text-shadow: 1.5px 2.598px 0px rgba(252, 252, 252, 0.392);
}

.block-2 .list-col2 {
	width: 50%;
	float: left;
}

.block-2 .list-col2 h1 {
	font-size: 22px;
	line-height: 19px;
	padding: 0 0 0 99px;
}

.block-2 .left h1 {
	color: #807022;
}

.block-2 .right h1 {
	color: #4a7940;
}

.block-2 .list-col2 div.row {
	display: table;
	padding: 0 0 20px 0;
}

.block-2 .list-col2 div.row div.img {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.block-2 .list-col2 div.row p {
	padding: 0 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}

.block-2 .left div.row p {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(128, 112, 34);
}

.block-2 .right div.row p {
	color: #4a7940
}